@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

body{
    margin: 0%;
    margin-top: 0%;
    padding: 0%;
    background-color: #000000e5;
    color: #ffffff;
    font-family: 'Metrophobic', sans-serif;
    text-align: justify;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

footer{
    position: relative;
    height: 10vh;
    right: 0%;
    bottom: 0%;
    border-top: 1px solid white;
    display: block;
    background-color: #00000000;
    padding: 10vh;
    text-align: center;
}

aside{
    position: fixed;
    top: 0%;
    left: 0%;
    padding-right: 1vw;
    bottom: 0%;
    height: 100vh;
    background-color: #000000;
    border-right: 4px solid #ffff005b;
}

h1, h2{
    padding: 0.5vh;
    font-family: monospace;
}

h1{
    font-size: 6vh;
}

h2{
    border-bottom: 1px solid #ffffff86;
    font-size: 5vh;
}

h3{
    background-color: #fffb00;
    color: black;
    padding: 1vh;
    font-family: monospace;
    border-radius: 10px;
    display: block;
    border: 2px solid #00000000;
}

p{
    font-size: auto;
}
/*#region hambuguer-menu*/

div#hamburguer{
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 3%;
    left: 1%;
    padding: 0.5vh;
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    margin: 10px;
}

div#hamburguer > div{
    padding: 10% 50%;
    margin: 5% 0px;
    background-color: yellow;
}

/*#endregion*/

/*#region explorer*/
nav#explorer{
    margin-top: 10vh;
    margin-left: 0vh;
    padding: 1em;
    font-family: monospace;
    font-size: 2vh;
}

nav#explorer > legend{
    padding-bottom: 10px;
    font-size: 3vh;
    border-bottom: 0.5px solid gray;
}

nav#explorer > ul{
    display: block;
    margin-left: 0px;
    padding-left: 0.1vw;
}

nav#explorer > ul > li{
    margin-top: 10px;
}

span#version{
    color: #ad7100; 
    padding: 3px;
    position: fixed; 
    top: 95%; 
    left: 1vw; 
    font-size: 80%;
}

/*#endregion*/

/*#region main*/
section#_main{
    margin: 10vh 10vw 0vh 15vw;
}
/*#endregion*/

/*#region classes*/
a.function{
    padding-left: 5px;
    font-family: monospace;
    text-decoration: none;
    color: yellow;
    border-left: 3px solid #ffff0000;
}

div.desc-funtion{
    margin-top: 5vh;
}

div.desc-function > div{
    margin: auto 2vw;
}

.file-origin{
    color:#ffffff9a;
}

code.example{
    padding: 1vh;
    display: flex;
    border-left: 5px solid rgba(255, 166, 0, 0);
    margin-top: 0vh;
    font-style: italic;

    background-color: #8080801a;
}

table.param{
    margin-top: 1vh;
    display: inline-table;
    /*width: 100%;*/
}

table.param > thead  th{
    background-color: orange;
    color: #000000;
    padding: 5px;
}

table.param > tbody td{
    border-left: 1px solid orange;
    padding: 5px;
    color: #ffffff;
}

table.param > tbody td:first-child{
    font-style: italic;
    font-weight: 400;
}

/*#endregion*/

/*#region pseudo-classes*/
h3.title-topic:hover{
    cursor:pointer;
    border-color: #ff8000;
}

code.example:hover{
    border-left-color: orange;
}

a.function:hover{
    border-left: 3px solid #ffff00;
}

span#version:hover{
    border-bottom: 1px solid white;
}
/*#endregion*/
